{
  "globals": {
      "require": false,
      "module": false,
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": ["eslint:recommended"],
  "rules": {
    "prop-types" : 0,
    "comma-dangle" : 0,
    "react-native/split-platform-components": 2,
  },
  "settings": {
    "react": {
      "pragma": "React",
    }
  },
}
